/*******Font***************************/
* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}


/*********NAV BAR************************/
nav {
  background-color: #3DC9B3;
  font-weight: bold;
}

nav a.brand-logo {
  padding-left: 1rem;
  font-weight: normal;
}

/*************NAME SECTION & LANDING****************/

section#name {
  background-image: url("../images/latop2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 90vh;
  background-size: cover;

}

section#name div#landing {
  color: #333;
  text-align: center;
}

section#name div h1 {
  margin: 0 0 .5rem 0;
  padding-top: 8rem;
  font-size: 4.2rem;
  text-shadow: 1px 3px 20px #FFF;
}

section#name div h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  /***make text legible on black part of bg***/
  text-shadow: 2px 2px 2px #FFF;
}

section#name div a {
  margin-top: 2rem;
  background-color: #3DC9B3;
}

section.centeredSection {
  padding: 3rem 0 4rem 0;
  text-align: center;
}
section#welcome {
  background: #f3f5f8;
}

h3.title {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 25px;
}

section#welcome p {
  width: 55%;
  margin: 1rem auto;
  color: #757575;
  line-height: 25px;
  font-size: 0.95rem;
}


/************PORTFOLIO***********************/
section#portfolio {
  background: url("../images/keyboard2.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}

section#portfolio a {
  color: rgba(61, 201, 179, 0.7);
  transition: all 0.6s;
}

section#portfolio a:hover {
  color: rgba(61, 201, 179, 1);
}

/**************PROJECTS IN FLEXSLIDER*****************/

div.flexslider {
  padding-top: 5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.container {
  width: 90%;
}

a.projectLink {
  display: inline-block;
}

div.flexslider div.container div.row div {
  text-align: center;
}

p.description {
  color: #757575;
  line-height: 25px;
  font-size: 0.95rem;
}

img.work {
  width: 100%;
  height: 15rem;
  border: 6px solid rgba(61, 201, 179, .5);
  border-radius: 5px;
}

/***************SKILLS********************/
h3.title small {
  font-weight: normal;
  font-size: 0.95rem;
}

section#skills div.skillSlider {
  margin-top: 3rem;
  padding: 1rem 0;
  background-color: #3DC9B3;
}

section#skills div.skillSlider h3{
  color: white;
  /*font-weight: bold;*/
  text-align: center;
  letter-spacing: 5px;
}

div h3.skill {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 25px;
}

i.icon-javascript-alt{
  font-size: 4.5rem;
}

/**********MEDIA QUERIES******************/
@media screen and (max-width: 992px) {
  /*******FLEXSLIDER PROJECTS*************/
  img.work {
    height: 30rem;
  }
}
