/*******Font***************************/
* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}


/*********NAV BAR************************/
nav {
  background-color: #3DC9B3;
  font-weight: bold;
}

nav a.brand-logo {
  padding-left: 1rem;
  font-weight: normal;
}

/*************NAME SECTION & LANDING****************/

section#name {
  background-image: url("../images/latop2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 90vh;
  background-size: cover;

}

section#name div#landingContainer {
  color: #333;
  text-align: center;
}

section#name div h1 {
  margin: 0 0 .5rem 0;
  padding-top: 8rem;
  font-size: 4.2rem;
  text-shadow: 1px 3px 20px #FFF;
}

section#name div h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  /***make text legible on black part of bg***/
  text-shadow: 2px 2px 2px #FFF;
}

section#name div a {
  margin-top: 2rem;
  background-color: #3DC9B3;
}

section#welcome {
  min-height: 20vh;
  text-align: center;
}

section#welcome h3 {
  font-size: 2rem;
}

/**************PROJECTS*****************/
section.projects {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
}

section.projects div.title {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

div.individualProject{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 1rem;
}

div.individualProject a img {
  /*width: 20rem;*/
  /*height: 20rem;*/
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  margin: 0;
}

div.individualProject h4 {
  font-size: 1em;
  font-weight: bold;
}
