* {
  box-sizing: border-box;
}

section#name {
  background-image: url("./binary.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section#name div#picture{
  width: 50%;
}

section#name div#picture img {
  border-radius: 5px;
  width: 12rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
}

section#name div#name-info {
  width: 50%;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}


section.projects {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
}

section.projects div.title {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

div.individualProject{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 1rem;
}

div.individualProject a img {
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
  margin: 0;
}

div.individualProject h4 {
  font-size: 1em;
  font-weight: bold;
}
