/*******Font***************************/
* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}


/*********NAV BAR************************/
nav {
  background-color: #3DC9B3;
}

nav a.brand-logo {
  padding-left: 1rem;
}

/*************NAME SECTION & LANDING****************/

section#name {
  background-image: url("./latop2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 80vh;
  background-size: cover;
  /*padding: 10rem 0 20rem 0;*/
}

section#name div#landingContainer {
  color: #333;
  text-align: center;
}

section#name div h1 {
  margin-top: 0;
  padding-top: 9rem;
  font-size: 4.2rem;
  /*text-shadow: 2px 2px 8px white;*/
  text-shadow: 1px 3px 21px #FFF;
}

section#name div h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #FFF;
}
/**************PROJECTS*****************/
section.projects {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
}

section.projects div.title {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

div.individualProject{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 1rem;
}

div.individualProject a img {
  // width: 20rem;
  // height: 20rem;
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  margin: 0;
}

div.individualProject h4 {
  font-size: 1em;
  font-weight: bold;
}
