* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

nav {
  background-color: #3DC9B3;
}

section#name {
  background-image: url("./latop2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /*min-height: 75vh;*/
  background-size: cover;
  padding: 10rem 0 20rem 0;
}

section#name div#landingContainer {
  width: 30%;
  margin: 1rem auto;
  text-align: center;
  color: #333;
}

section#name div h1 {
  font-size: 2rem;
}

section#name div h3 {
  font-size: 1rem;
}
/**************PROJECTS*****************/
section.projects {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
}

section.projects div.title {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

div.individualProject{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 1rem;
}

div.individualProject a img {
  // width: 20rem;
  // height: 20rem;
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  margin: 0;
}

div.individualProject h4 {
  font-size: 1em;
  font-weight: bold;
}
